<h1>Tax Calculator</h1>
<h2>Just a layout for now! Work in progess.</h2>
<div class="grid">
  <div class="container-fluid" (change)="calculate()">
    <h3>Enter your income:</h3>
    <input type="text" value="0">
    <span class="currency-symbol">$</span>
  </div>
  <div class="container-fluid">
    <h3>Results:</h3>
    <label for="">Tax Bracket</label>
    <p>{{taxBracket}}</p>
    <p>Tax Percentage: </p>
    <p>Social Security Tax: </p>
    <p>Additional Tax: </p>
    <p>Bi-Weekly income: </p>
    <p>Monthly income: </p>
    <p>Annual income: </p>
  </div>
</div>
