<div class="container">
  <div class="grid">
    <div class="card-shadow">
      <a routerLink="/life-calculator" class="router-link-style">
      <article>
        <header>Life Calculator</header>
        Get an idea of how much you would need in order to afford rent and expenses.
      </article>
    </a>
  </div>


  <div class="card-shadow">
    <a routerLink="/real-estate-calculator" class="router-link-style">
      <article>
        <header>Real Estate Calculator</header>
        A simple calculator to get an idea of what you will need to pay on your real estate
      </article>

    </a>
  </div>

  <div class="card-shadow">
    <a routerLink="/investment-calculator" class="router-link-style">
      <article>
        <header>Investment Calculator</header>
        A calculator to help you guage the possible value of your investments.
      </article>
    </a>
  </div>

  <div class="card-shadow">
    <a routerLink="/tax-calculator" class="router-link-style">
      <article>
        <header>Tax Calculator</header>
        A calculator to help you get an idea of how much you owe in taxes or have paid.
      </article>

    </a>
  </div>
  </div>


</div>
